@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #3f51b5;
}

a:hover {
    text-decoration: none;
    color: #252525;
}

.logo {
    line-height: 60px;
    position: absolute;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

nav {
    width: 100%;
    line-height: 50px;
    position: absolute;
}

nav.purple-navbar {
    background-color: #3f51b5;
    box-shadow: 0px 3px 5px grey;
}

nav.user-navbar {
    background-color: #3f51b5;
    box-shadow: 0px 3px 5px grey;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: none;
    color: black;
}

.user-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
}

.user-image:hover {
    cursor: pointer;
    border: 2px solid rgb(167, 170, 209);;
}

header {
    height: 60px;
}

header.with-banner {
    background-image: url('../img/home/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#all-houses > header.with-banner {
    height: 200px;
    background-image: url('../img/banners/all-houses.png');
}


section {
    min-height: 300px;
    padding: 50px 0;
}

section.alternate {
    background-color: rgb(243, 243, 243);
}

footer {
    bottom: 0px;
    position: relative;
    background-color: #252525;
    padding: 20px;
    width: 100%;
    color: white;
}

.arrow {
    display: flex;
}

.house-details {
    list-style-type: none;
}

.loader {
    border: 10px solid #e3e3e3;
    border-radius: 50%;
    border-top: 10px solid #3f51b5;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 0.8s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.signin-button {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #3f51b5;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.signin-button > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

.signin-button:hover {
    background-color: #252525;
}

.invalid-credentials {
    color: red;
    visibility: hidden;
}

.auth-banner {
    height: 100vh;
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/gradient.jpg");
    position: relative;
    width: 100%;
    background-color: #7A7EBC;
    color: #fff;
    overflow: hidden;  
}


.auth-banner .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .9;
    -webkit-backface-visibility: hidden;
    background-color: #7A7EBC;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #413C90), color-stop(1, #7A7EBC));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left, #413C90 0%, #7A7EBC 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right, #413C90 0%, #7A7EBC 100%);
    background-image: -ms-repeating-linear-gradient(top left, #413C90 0%, #7A7EBC 100%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  
    
  }
  
  .loading {
    width: 120px;
    height: 120px;
    animation: resize 1.5s ease-in-out infinite;
  }

  
@keyframes resize {
    0% { transform: scale(0.5); }
    50% {transform: scale(1.5);}
    100% { transform: scale(0.5); }
  }
  
.user-name {
    color: #3f51b5;
}

.user-name:hover {
    color: rgb(167, 170, 209);
    cursor: pointer;
}

.new-house-photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.new-house-photo:hover {
    opacity: 60%;
    cursor: pointer;
}

.new-house-small-photo {
    width: 100%;
    object-fit: cover;
}

.new-house-small-photo:hover {
    opacity: 60%;
    cursor: pointer;
}